/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(http://brightfield.loc/assets/components/brightfield/fonts/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(http://brightfield.loc/assets/components/brightfield/fonts/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  src: url(http://brightfield.loc/assets/components/brightfield/fonts/OpenSans-Bold.ttf) format('truetype');
}